################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiWithODataV4/.vs/WebApiWithODataV4/v15/Server/sqlite3
