################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiWithODataV4/.vs/WebApiWithODataV4/v15/Server/sqlite3
/WebApiWithODataV4/ODataV4.Model/obj/Release
/WebApiWithODataV4/ODataV4.WebApi/bin
/WebApiWithODataV4/ODataV4.WebApi/obj/Release
/WebApiWithODataV4/packages
/WebApiWithODataV4/ODataV4.DataAccess/obj/Release
